# environment
venv

# confidential
database/resources/config.yaml
server/resources/config.yaml
server/resources/key.pem
server/resources/cert.pem
client/resources/cert.pem

# generated
__pycache__
*.egg-info
database/data_logs

# vscode
.markdownlint.json
