# environment
venv

# confidential
database/resources/config.yaml
server/resources/config.yaml
server/resources/cert.pem
server/resources/key.pem

# generated
__pycache__
*.egg-info
database/data_logs

# vscode
.markdownlint.json
